app/ohos_hap/web_engine/src/main/resources/resfile/resources/app/out
libs/better-sqlite3-multiple-ciphers/build
libs/better-sqlite3-multiple-ciphers/node_modules
libs/bit7z/build
libs/napi_cpp/mdz_utils/build
libs/napi_cpp/mdz_utils/node_modules
src/node_modules
src/out
**/.DS_Store
**/__MACOSX
**/.idea
src/test.js
