#write {
    background-color: var(--content-write-bg-color);
    max-width: 90%;
    margin: 0 auto;
}

#write p {
    word-spacing: 0.1rem;
    line-height: 1.9rem;
    margin: 3px;
}

#write ol li {
    padding-left: 0.5rem;
}

#write>h5.md-focus:before {
    top: 2px;
}

::-moz-selection {
    background-color: var(--selection-color);
}

::selection {
    background-color: var(--selection-color);
}

/* h1-h3 */
#write h1,
#write h2,
#write h3 {
    font-style: normal;
}

#write h1,
#write h2 {
    /*text-align: center;*/
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#write h1 {
    font-size: 2.4rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.4s ease;
    transform-origin: left;  /* 加上这条，文字就会从右往左缩小 */
}

#write h1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--write-h1-before-bg);
    transition: transform 0.4s ease;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
    display: calc(var(--h1-hover-effect) * var(--use-dynamic-effect));
}

#write h1:hover {
    transform: scale(calc(1 + 0.1 * var(--h1-hover-effect) * var(--use-dynamic-effect)));
}

#write h1:hover {  /* 修改文字放大动效 */
    transform: scale(calc(1 + 0.1 * var(--h1-hover-effect) * var(--use-dynamic-effect)));
    transform-origin: left;  /* 设置起点 */
}

#write h1:hover:before {
    transform: scaleX(calc(var(--h1-hover-effect) * var(--use-dynamic-effect)));
}

#write h2 {
    font-size: 1.8rem;
    position: relative;
    padding-bottom: 0;
    font-weight: bold;
    margin-bottom: 0;
    transition: transform 0.3s ease;
    transform-origin: left;  /* 设置起点 */
}

#write h2:after {
    content: "";
    display: block;
    /*width: 30rem;*/
    width: 100%;
    height: 2.5px;
    margin: 0.5rem auto 0;
    margin-left: 0 !important;
    background: var(--write-h2-after-bg);
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform 0.4s ease, background 0.4s ease;
    transform-origin: left;  /* 设置起点 */
}

#write h2:hover:after {
    transform: scaleX(calc(1 * var(--h2-after-effect) * var(--use-dynamic-effect)));
    transform-origin: left;  /* 设置起点 */
}

#write h2:hover {
    transform: scale(calc(1 + 0.1 * var(--use-dynamic-effect)));
    transform-origin: left;  /* 设置起点 */
}

#write h3 {
    font-size: 1.6rem;
    transform-origin: left;  /* 设置起点 */
}

#write h4 {
    font-size: 1.4rem;
    transform-origin: left;  /* 设置起点 */
}

#write h5 {
    font-size: 1.2rem;
    transform-origin: left;  /* 设置起点 */
}

#write h6 {
    font-size: 1rem;
    transform-origin: left;  /* 设置起点 */
}

#write h3,
#write h4,
#write h5,
#write h6 {
    position: relative;
    margin-top: 1.0rem;
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease;
    transform-origin: left;  /* 设置起点 */
}

#write h3:hover,
#write h4:hover,
#write h5:hover,
#write h6:hover {
    transform: scale(calc(1 + 0.1 * var(--h3-6-hover-effect) * var(--use-dynamic-effect)));
    transform-origin: left;  /* 设置起点 */
}

/* image */
#write img, video {
    border-radius: 10px;
    max-width: 100%;
    display: block;
    margin: 1em auto;
    transition: transform 0.15s ease, border-radius 0.15s ease;
}

@media(min-width: 1200px) {
    #write img, video {
        border-radius: 10px;
        max-width: 55%;
        display: block;
        margin: 1em auto;
        transition: transform 0.15s ease, border-radius 0.15s ease;
    }
}

img:hover, video:hover {
    transform: scale(calc(1 + 0.01 * var(--img-hover-effect) * var(--use-dynamic-effect)));
    border-radius: calc(10px - 10px * var(--img-hover-effect) * var(--use-dynamic-effect));
}

/* paragraph */
p {
    font-size: 1rem;
    padding: 0 0.3rem;
    transition: all 0.25s ease;
}

p:not(:has(img)):hover {
    background-color: var(--p-hover-bg-color);
}

p.md-toc-content:hover {
    padding-left: 20px;
}

/* ul ol */
ul,
ol {
    padding-left: 1.5rem;
}

ul:first-child,
ol:first-child {
    margin-top: 0;
}

ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(calc(1 + 0.3 * var(--list-marker-effect) * var(--use-dynamic-effect)));
    }
}

ul .md-list-item::marker {
    list-style-type: disc;
    font-size: 27px !important;
    color: var(--ul-marker-color);
    transition: transform 0.3s;
}

ul .md-list-item:hover::marker {
    animation: bounce 0.6s ease-in-out;
}

ul ul .md-list-item::marker {
    list-style-type: circle;
    font-size: 27px;
    color: var(--ulul-marker-color);
    font-weight: bold;
    transition: transform 0.3s;
}

ul ul .md-list-item:hover::marker {
    animation: bounce 0.6s ease-in-out;
}

ul ul ul .md-list-item::marker {
    list-style-type: square;
    font-size: 27px;
    color: var(--ululul-marker-color);
    transition: transform 0.3s;
}

ul ul ul .md-list-item:hover::marker {
    animation: bounce 0.6s ease-in-out;
}

ol .md-list-item::marker {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: italic;
    transition: font-weight 0.2s ease, font-style 0.2s ease, color 0.2s ease, font-size 0.2s ease;
}

ol .md-list-item:hover::marker {
    font-style: var(--list-ol-text-style);
    font-weight: calc(500 + 100 * var(--list-marker-effect) * var(--use-dynamic-effect));
    font-size: calc(20px + 3px * var(--list-marker-effect) * var(--use-dynamic-effect));
    color: var(--ol-hover-marker-color);
}

/* blockquote */
blockquote {
    padding: 0.5rem 1rem;
    border-left: 8px solid var(--blockquote-border-color);
    background-color: var(--blockquote-bg-color);
    border-radius: 7px;
    transition: box-shadow 0.3s ease, border-radius 0.3s ease, border-left 0.3s ease;
}

blockquote {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

blockquote p {
    margin: 0.1rem 0;
}

blockquote:hover {
    border-left: calc(8px + 1px * var(--blockquote-hover-effect) * var(--use-dynamic-effect)) solid var(--blockquote-hover-border-color);
    box-shadow: calc(0px + 1px * var(--blockquote-hover-effect) * var(--use-dynamic-effect)) calc(1px + 1px * var(--blockquote-hover-effect) * var(--use-dynamic-effect)) calc(3px + 3px * var(--blockquote-hover-effect) * var(--use-dynamic-effect)) rgba(0, 0, 0, calc(0.15 * var(--blockquote-hover-effect) * var(--use-dynamic-effect)));
    border-radius: calc(7px + 8px * var(--blockquote-hover-effect) * var(--use-dynamic-effect));
}

blockquote table thead,
blockquote .md-table-fig .md-table thead {
    background-color: var(--blockquote-thead-bg-color);
    color: var(--blockquote-thead-text-color);
}

blockquote td {
    background-color: var(--blockquote-td-bg-color);
}

blockquote code,
.md-alert.md-alert-tip code,
.md-alert.md-alert-caution code,
.md-alert.md-alert-warning code,
.md-alert.md-alert-important code,
.md-alert.md-alert-note code {
    background-color: var(--alert-code-bg-color);
}

.md-alert.md-alert-tip .md-fences::before,
.md-alert.md-alert-caution .md-fences::before,
.md-alert.md-alert-warning .md-fences::before,
.md-alert.md-alert-important .md-fences::before,
.md-alert.md-alert-note .md-fences::before {
    background: var(--alert-code-3circle-1);
    box-shadow: 20px 0 var(--alert-code-3circle-2), 40px 0 var(--alert-code-3circle-3);
}

blockquote td,
.md-alert.md-alert-tip td,
.md-alert.md-alert-caution td,
.md-alert.md-alert-warning td,
.md-alert.md-alert-important td,
.md-alert.md-alert-note td {
    background-color: var(--alert-td-bg-color);
}

.md-alert-text-container {
    font-size: 20px;
}

/* horizontal line */
hr {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    border-top: 0.8px solid transparent;
    background-image: var(--hr-bg-image);
    height: 1.5px;
    overflow: visible;
    color: #abb2bf;
    opacity: 0.8;
    border-radius: 5px;
    box-shadow: var(--hr-box-shadow);
    animation: dashAnimation 0.5s ease-in-out;

    transition: transform 0.3s ease, background-position 0.3s ease, height 0.3s ease;
    background-size: 200% 100%;
    background-position: 0 0;
}

hr:hover {
    background-position: calc(100% * var(--hr-hover-effect) * var(--use-dynamic-effect)), 0;
    transform: scale(calc(1 + 0.02 * var(--hr-hover-effect) * var(--use-dynamic-effect)));
    height: calc(1.5px + 1px * var(--hr-hover-effect) * var(--use-dynamic-effect));
}

@keyframes dashAnimation {
    0% {
        width: calc(100% - 100% * var(--hr-hover-effect) * var(--use-dynamic-effect));
        opacity: calc(1 - 1 * var(--hr-hover-effect) * var(--use-dynamic-effect));
    }

    100% {
        width: 100%;
        opacity: 1;
    }
}

/* table */
table,
.md-table-fig .md-table {
    border: 1px solid var(--table-border-color);
    border-radius: 10px;
    border-collapse: separate;
    overflow: hidden;
    width: 100%;
}

table th,
table td,
.md-table-fig .md-table th,
.md-table-fig .md-table td {
    padding: 10px 16px;
    border-top: 1px solid var(--table-border-color);
    border: 0.5px solid var(--table-border-color);
    transition: all 0.3s ease;
}

table th,
.md-table-fig .md-table th {
    border-bottom: 1px solid var(--table-border-color);
    border-top: 0;
}

table td:hover,
.md-table-fig .md-table td:hover {
    background: var(--table-td-hover-bg);
    transition: all calc(0.3s * var(--table-hover-effect)) ease;
}

blockquote td:hover {
    background: var(--blockquote-td-hover-bg);
}

.md-alert.md-alert-tip td:hover {
    background: var(--alert-tip-td-hover-bg);
}

.md-alert.md-alert-caution td:hover {
    background: var(--alert-caution-td-hover-bg);
}

.md-alert.md-alert-warning td:hover {
    background: var(--alert-warning-td-hover-bg);
}

.md-alert.md-alert-important td:hover {
    background: var(--alert-important-td-hover-bg);
}

.md-alert.md-alert-note td:hover {
    background: var(--alert-note-td-hover-bg);
}

table thead,
.md-table-fig .md-table thead {
    background-color: var(--table-thead-bg-color);
    color: var(--table-thead-text-color);
}

table tbody+tbody,
.md-table-fig .md-table tbody+tbody {
    border-top: 2px solid var(--table-tbody-border-color);
}

/* strong */
strong {
    font-weight: bold;
    color: var(--strong-color);
    font-size: 1.05rem;
    transition: font-size 0.3s ease, padding 0.3s ease;
    display: inline-block;
    margin: 0 2px;
}

strong:hover {
    font-size: calc(1.05rem + 0.05rem * var(--strong-hover-effect) * var(--use-dynamic-effect));
    padding: calc(0px + 3px * var(--strong-hover-effect) * var(--use-dynamic-effect));
}

/* emphasis */
em {
    background-color: inherit;
    color: var(--em-color);
    transition: all 0.3s ease;
    padding-left: 1px;
    padding-right: 1px;
}

em:hover {
    color: var(--em-hover-color);
    font-weight: calc(500 + 100 * var(--em-hover-effect) * var(--use-dynamic-effect));
    padding-left: calc(1px + 2px * var(--em-hover-effect) * var(--use-dynamic-effect));
    padding-right: calc(1px + 2px * var(--em-hover-effect) * var(--use-dynamic-effect));
}

/* underline */
u {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid var(--u-border-color);
    padding-bottom: 2.5px;
    transition: all 0.3s ease;
}

u:hover {
    border: calc(2px * var(--u-hover-effect) * var(--use-dynamic-effect)) solid var(--u-border-color);
    padding: calc(0px + 4px * var(--u-hover-effect) * var(--use-dynamic-effect));
    margin: calc(0px + 4px * var(--u-hover-effect) * var(--use-dynamic-effect));
    border-radius: calc(0px + 7px * var(--u-hover-effect) * var(--use-dynamic-effect));
    border-bottom: 2px solid var(--u-border-color);
    padding-bottom: 2.5px;
}

/* strike */
del {
    color: var(--del-color);
    text-decoration: line-through;
    text-decoration-color: var(--del-text-decoration-color);
    text-decoration-thickness: 1.5px;
    font-style: italic;
    opacity: 0.8;
    transition: color 0.3s ease, opacity 0.3s ease;
}

del:hover {
    color: var(--del-hover-color);
    opacity: calc(0.8 + 0.2 * var(--del-hover-effect) * var(--use-dynamic-effect));
    text-decoration-color: var(--del-hover-text-decoration-color);
}

/* hightlight */
mark {
    font-weight: 500;
    background-color: var(--mark-bg-color);
    color: inherit;
    margin: 0 2px;
    padding: 3px 3px 2.5px;
    border-radius: 0px;
    transition: all 0.3s ease
}

mark:hover {
    border-radius: calc(0px + 7px * var(--mark-hover-effect) * var(--use-dynamic-effect));
    background-color: var(--mark-hover-bg-color);
    padding: 3px 3px calc(2.5px + 1.5px * var(--mark-hover-effect) * var(--use-dynamic-effect));
}

/* hyperlink */
a {
    background-color: inherit;
    color: var(--a-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: var(--a-hover-color);
}

a img {
    border: none;
}
